<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxy.springbootshop.Mapper.GoodsMapper">

    <insert id="insertGoods" useGeneratedKeys="true" keyProperty="id">
        insert into t_goods values (null,#{goodName},#{des},#{headerFilePath},#{price},#{type},#{sales},#{history},#{mark},#{bid},#{checked})
    </insert>
    
    <select id="getGoodsByBid" resultType="com.mxy.springbootshop.POJO.Goods">
        select * from t_goods where bid = #{bid}
    </select>

    <select id="getGoodsById" resultType="com.mxy.springbootshop.POJO.Goods">
        select * from t_goods where id = #{id}
    </select>

    <select id="getAllGoods" resultType="com.mxy.springbootshop.POJO.Goods">
        select * from t_goods
    </select>

    <delete id="deleteGoodByName">
        delete  from t_goods where goodName = #{goodName}
    </delete>

    <update id="checkedGoods" parameterType="com.mxy.springbootshop.POJO.Goods">
        update t_goods set checked=#{checked} where id=#{id}
    </update>

    <update id="updateSales" parameterType="com.mxy.springbootshop.POJO.Goods">
        update t_goods set sales=sales-#{number},history=history+#{number} where id=#{id}
    </update>

    <delete id="deleteGoodById">
        delete  from t_goods where id = #{id}
    </delete>

    <select id="getGoodsByResearchInput" resultType="com.mxy.springbootshop.POJO.Goods">
        select * from t_goods where goodName like '%${researchInput}%'
    </select>
</mapper>