<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxy.springbootshop.Mapper.PortalTypeGoodsMapper">

    <resultMap id="LoadPortalProjectListResultMap" type="com.mxy.springbootshop.POJO.PortalType">
        <id column="id" property="id"></id>
        <result column="type" property="type"></result>
        <result column="des" property="des"></result>
        <collection property="portalTypeGoodsList" column="type" ofType="com.mxy.springbootshop.POJO.PortalTypeGoods" select="com.mxy.springbootshop.Mapper.PortalTypeGoodsMapper.getPortalTypeGoods"/>
    </resultMap>

    <select id="getPortalType" resultMap="LoadPortalProjectListResultMap">
        select id,type,des from t_type
    </select>
    
    <select id="getPortalTypeGoods" resultType="com.mxy.springbootshop.POJO.PortalTypeGoods">
        select id,goodName,price,sales,mark,headerFilePath from t_goods where type = #{type} and checked = "已审核"
        order by id DESC
        LIMIT 0,4
    </select>
</mapper>