<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="script/docs.min.js"></script>
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        table tbody tr:nth-child(odd) {
            background: #F4F4F4;
        }

        table tbody td:nth-child(even) {
            color: #C00;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="#">二手交易平台-管理员界面</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top:8px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-success dropdown-toggle"
                                data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i> <span id="username1" class="name"
                                                                           th:text="${session.loginAdmin?.username}"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="glyphicon glyphicon-cog"></i> 个人设置</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/signOffAdmin}"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                        </ul>
                    </div>
                </li>
                <li style="margin-left:10px;padding-top:8px;">
                    <button type="button" class="btn btn-default btn-danger">
                        <span class="glyphicon glyphicon-question-sign"></span> 帮助
                    </button>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="tree">
                <ul style="padding-left:0px;" class="list-group">
                    <li class="list-group-item tree-closed" >
                        <a th:href="@{/main.html}"><i class="glyphicon glyphicon-dashboard"></i> 商品审核</a>
                    </li>
                    <li class="list-group-item tree-closed" >
                        <a th:href="@{/Goods.html}"><i class="glyphicon glyphicon-dashboard"></i> 商品管理</a>
                    </li>
                    <li class="list-group-item tree-closed">
                        <a th:href="@{/userCheck}" ><i class="glyphicon glyphicon-dashboard"></i> 用户审核</a>
                    </li>
                    <li class="list-group-item tree-closed">
                        <a th:href="@{/businessCheck}" ><i class="glyphicon glyphicon-dashboard"></i> 商家审核</a>
                    </li>
                    <li class="list-group-item tree-closed">
                        <a th:href="@{/user}" ><i class="glyphicon glyphicon-dashboard"></i> 用户维护</a>
                    </li>
                    <li class="list-group-item tree-closed">
                        <a th:href="@{/business_user}"><i class="glyphicon glyphicon-dashboard"></i> 卖家维护</a>
                    </li>

                </ul>

            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" role="form" style="float:left;">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-addon">查询条件</div>
                                <input class="form-control has-success" type="text" placeholder="请输入查询条件">
                            </div>
                        </div>
                        <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> 查询
                        </button>
                    </form>
                    <button type="button" class="btn btn-danger" style="float:right;margin-left:10px;"><i
                            class=" glyphicon glyphicon-remove"></i> 删除
                    </button>
                    <button type="button" class="btn btn-primary" style="float:right;"
                            onclick="window.location.href='add.html'"><i class="glyphicon glyphicon-plus"></i> 新增
                    </button>
                    <br>
                    <hr style="clear:both;">
                    <div class="table-responsive">
                        <table class="table  table-bordered">
                            <thead>
                            <tr>
                                <th width="30">#</th>
                                <th width="30"><input type="checkbox"></th>
                                <th>id</th>
                                <th>用户名</th>
                                <th>密码</th>
                                <th>名称</th>
                                <th>性别</th>
                                <th>电话</th>
                                <th>邮箱地址</th>
                                <th>城市</th>
                                <th>银行账户</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user:${businessList}">
                                <td>#</td>
                                <td><input type="checkbox"></td>
                                <td th:text="${user.bid}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.password}"></td>
                                <td th:text="${user.name1}"></td>
                                <td th:text="${user.sex}"></td>
                                <td th:text="${user.tel}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.city}"></td>
                                <td th:text="${user.account}"></td>

                                <td>
                                    <div class="PublicTableBtnIcon Color4Btn Js_delete">
                                        <!--                                                          <a class="iconfont icon-shanchu" th:href="@{/deleteGoods}">下架</a>-->
                                        <button th:attr="del_uri=@{/deleteBusiness/}+${user.bid}"
                                                class="btn btn-sm btn-danger deleteBtn">删除
                                        </button>

                                        <!--                                                          <form  method="post" th:attr="del_uri=@{/deleteGoods/}+${good.name}">-->
                                        <!--                                                              <input type="hidden" name="_method" value="delete">-->
                                        <!--                                                              <button type="submit" class="btn btn-warning" >下架</button>-->
                                        <!--                                                          </form>-->
                                    </div>
                                </td>

                            </tr>


                            </tbody>
                            <tfoot>


                            </tfoot>
                        </table>

                    </div>
                    <div class="modal-footer no-margin-top">
                        <div class="col-md-6">
                            <strong>当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录
                            </strong>
                        </div>
                        <ul class="pagination pull-right no-margin">
                            <li th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'/business_user?pageNum=1'">首页</a>
                            </li>
                            <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'/business_user?pageNum='+${pageInfo.prePage}">
                                    <i class="ace-icon fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <!--遍历条数-->
                            <li th:each="nav:${pageInfo.navigatepageNums}">
                                <a th:href="'/business_user?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                                <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
                            </li>
                            <li class="next" th:if="${pageInfo.hasNextPage}">
                                <a th:href="'/business_user?pageNum='+${pageInfo.nextPage}">
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                </a>
                            </li>
                            <li>
                                <a th:href="'/business_user?pageNum='+${pageInfo.pages}">尾页</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<form id="deleteForm" method="post" >
    <input type="hidden" name="_method" value="delete">
</form>

<script>
    $(".deleteBtn").click(function(){

        $("#deleteForm").attr("action",$(this).attr("del_uri")).submit();
        alert("删除成功");

    });
</script>
</body>
</html>